video {
    margin: auto;
    display: block;
    width: 60vw;
}

.main {
    position: relative;
    background: radial-gradient(farthest-side ellipse at 10% 0,#333867 20%,#17193b) !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white !important;
}


.form-options {
    margin: auto;
    display: block;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 16px;
}

.col {
    flex-basis: auto;
    padding: 10px;
}

.local-preview {
    margin: auto;
}

.login-container {
    /* background-color: #333867 !important; */
    color: #fff;
    padding: 30px;
    margin: auto;
    vertical-align: middle;
    display: table-cell;

}

.start-button-container {
    display: block;
    margin: auto;
}

.muted-mic {
    color: red;
}

/* .MuiInputLabel-animated {
    color: white !important;
}

label.MuiFormLabel-root.Mui-focused, .MuiInputBase-input {
    color: white !important;
} */

.unmuted-mic {
    color: green
}